<div class="row">
  <div>
<h1>SUBAWAY</h1>
  </div>
<hr>
<h2>Use SubAway to manage your subscription services.</h2>
<hr>
<h2>Subaway tracks subscription renewal dates and expiration of trial services to reduce subscription waste.  Additionally, Subaway uses graphs to compare your subscription serivce use and cost.  The subscriptions page displays a searchable list of subsciription serivces.  Users may select a serivce from the list or create a new subscription service and add it to their user profile.  </h2>
</div>
