<h1>New Subscription</h1>
<div class="container task">
<form ng-submit="createUserTask()">
    <div class="form-group">
        <label for="title">Subscription Service Name:</label>
        <input type="text" class="form-control" id="title" ng-model="user.subscription.title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" ng-model="user.subscription.description"></textarea>
    </div>
    <div class="form-group">
        <label for="dueDate">Renewal Date:</label>
        <input type="date" class="form-control" id="dueDate" placeholder="" ng-model="user.subscription.dueDate">
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="url" class="form-control" id="image" placeholder="" ng-model="user.subscription.image">
    </div>
    <div class="form-group">
        <label for="image">Price:</label>
        <input type="number" class="form-control" id="image" placeholder="" ng-model="user.subscription.price">
    </div>
    <div class="form-group">
        <label for="image">Use Score:</label>
        <input type="number" class="form-control" id="image" placeholder="" ng-model="user.subscription.useScore">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
